

/*general Styles*/

/*Clear out inconsistency across browsers*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.row{
	margin-left: 0px;
}

html {
	font: normal 16px sans-serif;
	color: #555;

}


nav {
	list-style: none; 
}

a {
	text-decoration: none;
	opacity: 1;
	color: #fff;
}



section	{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}	

/*
hr{
	width: 250px;
	height: 3px;
	background-color: #3f51b5;	
	border:	0;
	margin-bottom: 50px;
}
*/

hr{ 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;

} 


section h3.title{
	text-transform: capitalize;
	font: bold 32px "Open+Sans", sans-serif;
	margin-bottom: 30px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	
	margin-bottom: 30px;
	text-align: left;
}

@media (max-width: 800px){
	section {
		padding: 50px 20px;
	}
}



/*Header Styles*/
header	{
	position: absolute;
	width: 100%;
    z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 35px 0;
    opacity: 1;
	color: #fff;
}

header h2 {
	font-family: 'Quicksand',sans-serif;
	
}

header nav  {
	display: flex;
	margin-right:  35px;
	/*margin-right: -10px;   /*move to the left*/*/
	
}

header nav li {
	
	margin: 0 15px;

}

@media(max-width: 800px){
	header{
		padding: 20px 50px;
		flex-direction: column;
	}

	header h2{
		margin-bottom: 15px;
	}
}


/*Intro Styles*/

.intro {
	position: relative;
	justify-content: center;
	width: 100%;
	text-align: center;
	min-height: 100vh;
	color: #fff;
}

.intro .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
	background-color: #555;
}

.intro h1{
	font: bold 60px "Open Sans", sans-serif;
	margin-bottom: 15px;
}

.intro h3{
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
}

.intro-content-area{
	opacity: 1;
	margin-top: 100px;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media(max-width: 800px){
	.intro{
		min-height: 600px;
	}
	.intro h1 {
		font-size: 48px;
	}
	.intro h3 {
		font-size: 24px;
	}
}

/*DevAcademy Styles*/
.DevAcademy h2{
	border-bottom: 1px solid #ccc;
	padding-bottom: 3px;
}



/*Foundations Class Style*/

.foundation-content-area {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: #fff;
}

.foundation-content-area > div {
	background-color: DodgerBlue;

	width: 100%;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
} 

/*bootcamp-content-area*/
.bootcamp-content-area {
	width: 100%;
background-color: #555;
text-align: center;
}


/*sprint 2 technical*/

table {
  border-collapse: collapse;
  background-color: #555;
}

table, td {
  padding:10px;
  border: 1px solid black;
  text-align: left;
}

th{
	padding: 10px;
	text-align: center;
}

.S2T h3 {
	text-decoration-color: #555;
}


.S2T li {
	
	margin-left: -50px;
	text-align: left;
}




